h2{
    font-size: 40px !important;
    font-weight: bolder !important;
    margin-bottom: 5px !important;
    text-align: center;
}
#partners{
    font-weight: bolder;
}
#partners li{
    padding-left: 30px;
    font-weight: lighter;
}
#slogan-one{
    font-weight: bold;
    font-size: 25px;
}
.protection h3  {
    font-size: 30px;
    font-weight: bolder;
}
ul{
    font-size: 20px;
    list-style-type:circle !important;
    padding-left: 5% !important;
}
ol{
    font-size: 20px;
    list-style-type:circle !important;
    padding-left: 5% !important;
}
#title-how{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
}
#title-benefits{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
}
#presentation{
    color: blue;
}
