.header{
    background-color: blue;
    height:180px;
}
.footer{
    background-color: #2563eb;
    height: 100px;
}
a .login-register{
    color:white;
}

.navbar{
    background-color: #ef4444;
    font-family: "Modern No. 20";
}
/*.nav-item>img{*/
/*    width: 15px;*/
/*    height: auto;*/
/*}*/

#logo{
    height: 90px;
    width: auto;
}
main{
    margin-top: 100px;
    margin-bottom: 30px;
}

.banner{
    margin-left: 40px;
}

.title{
    text-align: center;
    font-family: "Modern No. 20";
    font-size: 60px;
}
.block-column{
    display: flex;
    width: 80%;
    margin-top: 30px;
    margin-left: 5%;
    padding-left: 10%;
}

.column{
    border: 1px solid #9ca3af;
    border-radius: 5px;
    margin-right: 10px;
}

.column>img{
    width: 60%;
    height: auto;
    padding: 2px;
}

.column>h3{
    text-align:center;
    font-size: 25px;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}

